
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;  
}
.container__top{
    height: 30px;
    background: #FFFFFF;
}
.wrapper__top{
    border-bottom: 1px solid #ECF3FF;
}
.list__top{
    display: flex;
    font-style: normal;
    white-space: nowrap;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #282739;
    flex: none;
}
.item__top:not(:last-child){
    margin-right: 30px;
}
.item__link{
    position: static;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #5D6C7B;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.item__top__icon:not(:last-child){
    margin-right: 9px;
    }
.item__span{
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
}
.item__span_wiber{
    width: 12px;
    height: 12px;
    background-image: url('../img2/viber\ 1.svg');
}
.item__span_whatsapp{
    width: 12px;
    height: 12px;
    background-image: url('../img2/003-whatsapp\ 1.svg');
}
.item__span_telegram{
    width: 10px;
    height: 12px;
    background-image: url('../img2/003-telegram\ 1.svg');
}
.item__top_tell{
    display: inline-block;
    margin-left: 615px;
    background: url('../img2/Group\ 1659.svg') center right no-repeat transparent;
    padding-right: 20px;
    background-size: contain;
}

/* list */
.container__center{
    margin-bottom: 35px;
}
.list{
    display: flex;
    align-items: center;
    margin-top: 29px;
}
.phone{
    display: none;
}
.dropdown{
    display: none;
}
.main__line{
    display: none;
}
.item{
    margin-right: 30px;
}
.poisk{
    width: 570px;
    height: 40px;
    border: 1.5px solid #6F73EE;
    box-sizing: border-box;
    padding-left: 80px;
}
.item__select{
    position: absolute ;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: #F4F7FB;
    border-radius: 5px;
    padding-top: 10px;  
}
.item__submit{
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img2/лупа.svg');
    border-radius: 0 5px 5px 0;
    padding-left: 0px;
    background-color: #6F73EE;
}
.item__form{
    position: relative;
    display: flex;
}

.item_icon{
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center left;
}
.item_icon__vesi{
    width: 20px;
    height: 12px;
    background-image: url('../img2/весы.svg');
}
.item_icon__head{
    width: 17px;
    height: 15px;
    background-image: url('../img2/сердце.svg');
}
.item_icon__corzina{
    width: 20px;
    height: 17px;
    background-image: url('../img2/корзина.svg');
    padding-left: 20px;
}



/* bottom */
.header__bottom{
    background: #F4F7FB;
}
.list__bottom{
    display: flex;
    align-items: center;
    height: 40px;
    background: #F4F7FB;
}
.item__bottom{
    margin-right: 50px;
    white-space: nowrap;
}
.item__bottom__link{
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center right;
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.item__bottom__icon{
    height: 20px;
    background-image: url('../img2/доступная\ рассрочка.svg');
    padding-right: 110px;
}
.item__bottom__promotion{
    height: 20px;
    background-image: url('../img2/процент.svg');
    padding-right: 30px;
}
