.container{
    margin: 0 auto;
    display: flex;
    width: 1100px;
    flex-direction: column;
}
body{
    margin: 0;
    min-width: 1220px;
}
.wrapper{
    display: flex;
    width: 100%;
}
.container-img{
    max-width: 1380px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    cursor: pointer;
}
button{
    cursor: pointer;
}
button:hover,
a:hover{
    opacity: .4;
    transition: all .6s ease;
}
